h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  font-style: normal;
}

.none {
  display: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

:root {
  --color-black: #000000;
  --color-grey: #757575;
  --color-blue: #2196F3;
  --color-white: #FFFFFF;
  --color-dark-grey: #2F303A;
  --color-light-grey: #F5F4FA;
  --color-black-link: #222121;
  --color-border-box-project: #EEEEEE;
  --color-header-border: #ECECEC;
  --color-social-link: #AFB1B8;
  --color-client-title: #212121;
  --color-modal-button: #188CE8;
  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --color-border-imput: rgba(255, 255, 255, 0.3);
  --color-modal-comment: rgba(117, 117, 117, 0.5);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  background-color: var(--color-white);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(1.5);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms var(--timing-function);
  padding: 40px 40px 40px 42px;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: fill 250ms var(--timing-function);
}
.modal-close:focus, .modal-close:hover {
  fill: var(--color-blue);
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-black-link);
}

.modal-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-grey);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-client-title);
}

.modal-input {
  margin-top: 4px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
}
.modal-input:focus {
  border-color: var(--color-blue);
  outline: var(--color-blue);
}

.modal-button-form {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--color-modal-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}
.modal-button-form:focus, .modal-button-form:hover {
  cursor: pointer;
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.modal-decor {
  position: relative;
}

.modal-decor-comment {
  margin-bottom: 20px;
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 57%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}
.modal-field:focus-within > .modal-icon {
  color: var(--color-blue);
}
.modal-input:focus + .modal-icon {
  border-color: var(--color-blue);
  fill: var(--color-blue);
}

.modal-comment {
  width: 448px;
  height: 96px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
}
.modal-comment:focus {
  border-color: var(--color-blue);
  outline: var(--color-blue);
}
.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-modal-comment);
}
.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-modal-comment);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-modal-comment);
}

.text-comment {
  height: 120px;
  padding: 12px 16px;
  display: block;
  resize: none;
  margin-bottom: 0;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-black);
  border-radius: 2px;
  cursor: pointer;
  fill: var(--color-white);
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--color-blue);
  border-color: transparent;
}
.checkbox:focus + .checkbox-icon {
  box-shadow: var(--button-shadow);
}

.checkbox-field-box {
  margin-bottom: 30px;
}

.checkbox-field {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 7px;
  color: var(--color-grey);
}

.checkbox-link {
  position: relative;
  display: block;
  color: var(--color-blue);
}

.sing-up-form {
  margin-left: auto;
}

.sing-up {
  display: flex;
}

.sing-up-title {
  font-size: 14px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--color-white);
}

.button-sing-up {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  transition: background 250ms var(--timing-function);
}
.button-sing-up:hover {
  background-color: var(--color-modal-button);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.sing-up-icon {
  margin-left: 10px;
  align-items: center;
}

.sing-up-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--color-dark-grey);
  border-radius: 4px;
  font-style: normal;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms var(--timing-function);
}
.sing-up-email:hover {
  border: 1px solid var(--color-blue);
}

.header {
  border-bottom: 1px solid var(--color-header-border);
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  margin-right: auto;
}

.main-nav-list {
  display: flex;
  gap: 50px;
  text-decoration: none;
}

.main-contact-list {
  display: flex;
  gap: 50px;
  text-decoration: none;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 10px;
}
.link:hover, .link:focus {
  color: var(--color-blue);
}

.link-mailto, .link-tel {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}

.list {
  display: flex;
  align-items: center;
}

.icon-contact-mailto {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.icon-contact-tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  color: var(--color-black-link);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.list-link:hover, .list-link:focus {
  color: var(--color-blue);
}

.current {
  color: var(--color-blue);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  width: 100%;
  height: 4px;
  background: var(--color-blue);
  border-radius: 2px;
}

.list-link .current {
  color: var(--color-blue);
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  font-family: "Raleway";
  color: var(--color-blue);
  text-decoration: none;
}

.logo-studio {
  color: var(--color-black);
  text-decoration: none;
}

.banner {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.button {
  cursor: pointer;
}

.banner__title {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.banner__button {
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background 250ms var(--timing-function);
}
.banner__button:hover {
  background-color: var(--color-modal-button);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.banner__button-hi {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-white);
}

.to-do {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-white);
}

.to-do__list {
  display: flex;
  gap: 30px;
}

.to-do__box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-light-grey);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.to-do__item {
  flex-basis: calc((100% - 90px) / 4);
}

.to-do__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 10px;
}

.to-do__text {
  line-height: 1.71;
  color: var(--color-grey);
}

.work-img {
  background-color: var(--color-white);
  padding-bottom: 94px;
}

.work-img__list {
  display: flex;
  gap: 30px;
}

.work-img__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--color-black);
}

.work-img__img {
  display: block;
  max-width: 100%;
  height: auto;
  mix-blend-mode: normal;
}

.work-img__label {
  position: relative;
}

.work-img__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.team {
  background: var(--color-light-grey);
  padding-bottom: 94px;
  padding-top: 94px;
  gap: 30px;
}

.team__comands {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: var(--color-black);
}

.team__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 30px;
}

.jobs-list {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
  color: var(--color-black);
}

.team__jobs-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-align: center;
  color: var(--color-grey);
}

.team__social-networks-list {
  margin-bottom: 30px;
  margin-right: 32px;
  margin-left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-white);
}

.team__social-networks-item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.team__social-networks-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--color-social-link);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.team__social-networks-link:hover, .team__social-networks-link:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.team__social-networks-icon {
  fill: currentColor;
}

.client__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: var(--color-client-title);
}

.client {
  background-color: var(--color-white);
  padding-top: 94px;
  padding-bottom: 94px;
  gap: 30px;
}

.client__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.client__item {
  width: 170px;
  height: 92px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-social-link);
  border-radius: 4px;
  fill: var(--color-social-link);
  transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}
.client__link:hover, .client__link:focus {
  fill: var(--color-blue);
  border: 1px solid var(--color-blue);
}

.client__logo {
  fill: currentColor;
}

.filter-list {
  background-color: var(--color-white);
}

.button-link {
  display: block;
}

.list-button {
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.project-list {
  gap: 30px;
  flex-wrap: wrap;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  font-family: "Roboto";
  text-align: center;
  color: var(--color-black);
  background: var(--color-light-grey);
  border-radius: 4px;
  border: none;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover, .filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--color-blue);
  color: var(--color-white);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-body {
  width: 370px;
  flex-basis: calc((100% - 90px) / 3);
  position: relative;
}

.project-body:hover .portfolio-text {
  transform: translateY(0);
}

.project-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

img {
  display: block;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--color-white);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
}

.border {
  padding: 20px 24px;
  border-right: 1px solid var(--color-border-box-project);
  border-left: 1px solid var(--color-border-box-project);
  border-bottom: 1px solid var(--color-border-box-project);
}

.project-name-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--color-black);
}

.filter-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--color-dark-grey);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  width: 231px;
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  color: var(--color-blue);
  text-decoration: none;
}

.footer-logo-studio {
  color: var(--color-white);
  text-decoration: none;
}

.footer-contact-link {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.footer-contact-link:hover, .footer-contact-link:focus {
  color: var(--color-blue);
}

.address-link {
  color: var(--color-white);
  text-decoration: inherit;
}
.address-link:hover, .address-link:focus {
  color: var(--color-blue);
}

.contact-list-item {
  margin-bottom: 9px;
}
.contact-list-item:last-child {
  margin-bottom: 0;
}

.social-link-footer {
  margin-left: 70px;
}

.footer-social-link {
  margin-left: 70px;
}

.social-link-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--color-white);
}

.social-link-list {
  display: flex;
  width: 206px;
  gap: 10px;
  justify-content: center;
}

.social-link-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--color-white);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.social-link:hover, .social-link:focus {
  background-color: var(--color-blue);
}/*# sourceMappingURL=main.css.map */