.header{
    border-bottom: 1px solid var(--color-header-border);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    margin-right: auto;
}

.main-nav-list{
    display: none;
    gap: 50px;
    text-decoration: none;
}

.main-contact-list{
    display: none;
    gap: 50px;
    text-decoration: none;
}

.link {
    @include font (500, 14, 1.14, 0.02);
    color: var(--color-grey);
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 10px;
        &:hover,
        &:focus {
            color: var(--color-blue);
        }
}

.link-mailto, .link-tel{
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
}

.list { 
    display: flex;
    align-items: center;
}

.icon-contact-mailto{
    width: 16px;
    height: 12px;
    fill: currentColor;
}

.icon-contact-tel{
    width: 10px;
    height: 16px;
    fill: currentColor;
}

.list-link {
    @include font (500, 14, 1.63, 0.02);
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    color: var(--color-black-link);
    text-decoration: none;
    transition: color 250ms var(--timing-function);
        &:hover,
        &:focus {
            color: var(--color-blue);
        }
    
}

.current{
    color: var(--color-blue);
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            opacity: 1;
            transition: opacity 250ms var(--timing-function);
            width: 100%;
            height: 4px;
            background: var(--color-blue);
            border-radius: 2px;
        }
}

.list-link .current{
    color: var(--color-blue);
}   

.mob-menu-open{
    border: none;
    background-color: transparent;
}

.icon-mob-menu{
    position: absolute;
    top: 10px;
    right: 15px;
}

.mob-menu{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
    padding-top: 48px;
    padding-bottom: 48px;

}

.mob-menu-close {
    display: block;
    margin-left: auto;
    margin-bottom: 9px;
}

.mob-menu-list {}

.mob-menu-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--color-black);
    padding-bottom: 32px;
}

.mob-contact-list {

}

.mob-contact-tel {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--color-black);
}

.mob-mailto-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--color-black);
}

.mob-menu-list {}

.mob-menu-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--color-blue);
}

.mob-contact-list {
}
.mob-contact-item {
}
.mob-link-mailto {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--color-blue);
}
.mob-link-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.mob-social-list {}

.mob-social-item {}

.mob-social-link {}