
.logo {
    @include font (700, 26, 1.19, 0.03);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
    font-family: 'Raleway';
    color: var(--color-blue);
    text-decoration: none;
}

.logo-studio {
    color: var(--color-black);
    text-decoration: none;
}
