:root {
    --color-black: #000000;
    --color-grey: #757575;
    --color-blue: #2196F3;
    --color-white: #FFFFFF;
    --color-dark-grey: #2F303A;
    --color-light-grey: #F5F4FA;
    --color-black-link: #222121;
    --color-border-box-project: #EEEEEE;
    --color-header-border: #ECECEC;
    --color-social-link: #AFB1B8;
    --color-client-title: #212121;
    --color-modal-button: #188CE8;
    --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --color-border-imput: rgba(255, 255, 255, 0.3);
    --color-modal-comment: rgba(117, 117, 117, 0.5);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-style: normal;
    background-color: var(--color-white);
    text-decoration: none;
}